.formContainer {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
}

.entryField {
  border-radius: 3px;
  height: 23px;
  font-size: 16px;
  border: 1px solid #bdc7d8;
  padding: 15px;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 10px;
  min-width: 300px;
}

.loginButton {
  background: linear-gradient(#67ae55, #578843);
  box-shadow: inset 0 1px 1px #a4e388;
  min-width: 232px;
  padding: 7px 20px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #3b6e22;
  border-radius: 5px;
  font-size: 19px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 1px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  margin: 20px auto auto auto;
}
